
h1{
    height: 45px;
    width: 400px;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content:center;
  margin: 0px;
  font-weight: 800;
  font-stretch: expanded;
  border-radius: 15px;
  color: beige;
  margin-bottom:15px;
   
}

#grid{
  
    justify-content: center;
    height: 500px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
   

}
img {
    padding: 10px;
}

body {
    background-color:black;
    justify-content: center;
    display: flex;
}
.score{
    display:inline-block;
    
    height: 450px;
    width: 230px;
  font-family: 'Montserrat', sans-serif;
  
    color: rgba(0, 0, 0, 0.659);
    font-weight: bold;
    border-radius: 15px;
    padding-left: 20px;
    font-size: x-large;
    padding-bottom: 25px;
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    height:50px; /*alto del div*/
    z-index:0;

     }
     span {
        margin-left: 30px;
     }

     p {
  font-family: 'Montserrat', sans-serif;

         padding-left: 30px;
         color: white;
         background-color:black;
         border-radius: 50px;
      }
     img:hover{
        transition: width 2s, height 2s, transform 2s;
     }
     button {
  font-family: 'Montserrat', sans-serif;
  
        float: right;
      
        background-color: black;
        color: white;
        border: 2px solid white;
        animation: fadeIn 5s;
      }
      button:hover {
        background-color: white;
        color: black;
        transition: 0.8s;
      }
     

      .but{
        display: flex;
        justify-content: flex-end;
        height: 25px;
        margin-top:51.5%;
        margin-left: 60px;
      }